<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.crm.dao.CustomerMapper">
	
	<sql id="customer_where">
		<where>
			<if test="custName !=null and custName != '' ">
				and cust_name like "%"#{custName}"%"
			</if>
			<if test="custSource != null and custSource != '' ">
				and cust_source = #{custSource}
			</if>
			<if test="custIndustry != null and custIndustry != '' ">
				and cust_industry = #{custIndustry}
			</if>
			<if test="custLevel != null and custLevel != '' ">
				and cust_level = #{custLevel}
			</if>
		</where>
	</sql>
	
	<select id="findCustomerCountByVo" parameterType="com.ssm.crm.pojo.QueryVo" resultType="integer">
	
		select count(cust_id) from customer
		
		<include refid="customer_where"/>
		
	</select>
	
	<select id="findCustomerByVo" parameterType="com.ssm.crm.pojo.QueryVo" resultType="com.ssm.crm.pojo.Customer">
		
		select c.cust_id, c.cust_name, c.cust_user_id, c.cust_create_id,
			s.dict_item_name cust_source,
			i.dict_item_name cust_industry,
			l.dict_item_name cust_level,
			c.cust_linkman, c.cust_phone, c.cust_mobile, c.cust_zipcode, c.cust_address, c.cust_createtime
		from customer c
		left outer join base_dict s on s.dict_id = c.cust_source
		left outer join base_dict i on i.dict_id = c.cust_industry
		left outer join base_dict l on l.dict_id = c.cust_level
		
		<include refid="customer_where"/>
		limit #{start}, #{size}
	</select>

	<!--测试PageHelper分页-->
	<select id="findCustomerByPage" parameterType="com.ssm.crm.pojo.QueryVo" resultType="com.ssm.crm.pojo.Customer">

		select c.cust_id, c.cust_name, c.cust_user_id, c.cust_create_id,
		s.dict_item_name cust_source,
		i.dict_item_name cust_industry,
		l.dict_item_name cust_level,
		c.cust_linkman, c.cust_phone, c.cust_mobile, c.cust_zipcode, c.cust_address, c.cust_createtime
		from customer c
		left outer join base_dict s on s.dict_id = c.cust_source
		left outer join base_dict i on i.dict_id = c.cust_industry
		left outer join base_dict l on l.dict_id = c.cust_level

		<include refid="customer_where"/>

	</select>
	
	<select id="findCustomerById" parameterType="long" resultType="com.ssm.crm.pojo.Customer">
		select * from customer where cust_id=#{id}
	</select>
	
	<update id="updateCustomer" parameterType="com.ssm.crm.pojo.Customer">
		update customer 
		<set>
	      <if test="cust_name != null and cust_name != ''" >
	        cust_name = #{cust_name,jdbcType=VARCHAR},
	      </if>
	      <if test="cust_user_id != null and cust_user_id != 0" >
	        cust_user_id = #{cust_user_id,jdbcType=BIGINT},
	      </if>
	      <if test="cust_create_id != null and cust_create_id != 0" >
	        cust_create_id = #{cust_create_id,jdbcType=BIGINT},
	      </if>
	      <if test="cust_source != null and cust_source != ''" >
	        cust_source = #{cust_source,jdbcType=VARCHAR},
	      </if>
	      <if test="cust_industry != null and cust_industry != ''" >
	        cust_industry = #{cust_industry,jdbcType=VARCHAR},
	      </if>
	      <if test="cust_level != null and cust_level != ''" >
	        cust_level = #{cust_level,jdbcType=VARCHAR},
	      </if>
	      <if test="cust_linkman != null and cust_linkman != ''" >
	        cust_linkman = #{cust_linkman,jdbcType=VARCHAR},
	      </if>
	      <if test="cust_phone != null and cust_phone != ''" >
	        cust_phone = #{cust_phone,jdbcType=VARCHAR},
	      </if>
	      <if test="cust_mobile != null and cust_mobile != ''" >
	        cust_mobile = #{cust_mobile,jdbcType=VARCHAR},
	      </if>
	      <if test="cust_zipcode != null and cust_zipcode != ''" >
	        cust_zipcode = #{cust_zipcode,jdbcType=VARCHAR},
	      </if>
	      <if test="cust_address != null and cust_address != ''" >
	        cust_address = #{cust_address,jdbcType=VARCHAR},
	      </if>
	      <if test="cust_createtime != null" >
	        cust_createtime = #{cust_createtime,jdbcType=TIMESTAMP},
	      </if>
		</set>
		where cust_id = #{cust_id}
	</update>
	
	<delete id="deleteCustomer" parameterType="long">
		delete from customer where cust_id=#{id}
	</delete>
</mapper>